  <mat-toolbar>
    <span>Unit Converter</span>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label=Length>
        <app-unit-converter [type]='"length"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Area>
        <app-unit-converter [type]='"area"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Mass>
        <app-unit-converter [type]='"mass"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Volume>
      <app-unit-converter [type]='"volume"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Flow>
      <app-unit-converter [type]='"volumeFlowRate"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Temperature>
      <app-unit-converter [type]='"temperature"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Time>
      <app-unit-converter [type]='"time"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Frequency>
      <app-unit-converter [type]='"frequency"'></app-unit-converter>
    </mat-tab>
    <mat-tab label=Speed>
    <app-unit-converter [type]='"speed"'></app-unit-converter>
  </mat-tab>
    <mat-tab label=Pressure>
      <app-unit-converter [type]='"pressure"'></app-unit-converter>
    </mat-tab>
  </mat-tab-group>

