<div class="card-wrapper">
  <!-- Start convertor card -->
  <mat-card class="info-card m-5">
    <mat-card-header class="mat-h3">
      <div mat-card-avatar><mat-icon>face</mat-icon></div>
    <mat-card-title>
      Info | calcMe.app
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><a href="/">calcMe.app</a> is built on <a href="https://angular.io">Angular</a> + <a href="https://material.angular.io">Angular Material</a> and served from <a href="https://firebase.google.com">Google Firebase</a>.</p>
      <p><a href="/">calcMe.app</a> unit converter uses the <a href="https://www.npmjs.com/package/convert-units">convert-units</a> library developed by <a href="https://github.com/ben-ng">ben-ng</a>,
        thanks to <a href="https://github.com/ben-ng">ben-ng</a> and the <a href="https://github.com/convert-units/convert-units/graphs/contributors">convert-units</a> team for developing the library and making it freely available.</p>
      <p>For contact, suggestions and source code see my <a href="https://github.com/ablewitt">GitHub</a></p>
    </mat-card-content>
  </mat-card>
</div>

